<div class="row">
  <div class="col-3">
    <div class="block one">
      <div class="class">
        <img src="./assets/icons/Banknote.png" alt="">
      </div>
      <div class="block_big">
        <h4>TOTAL SALES</h4>
        <p>257.752</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="block two">
      <div class="class">
        <object
          type="image/svg+xml"
          data="./assets/icons/Document%20Page%20With%20Text%20Lines.svg">
          <img class="som"
               src="./assets/icons/Document%20Page%20With%20Text%20Lines.svg">
        </object>

      </div>
      <div class="block_big">
        <h4>TOTAL SALES</h4>
        <p>257.752</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="block three">
      <div class="class">
        <object
          type="image/svg+xml"
          data="./assets/icons/Database.svg">
          <img class="som"
               src="./assets/icons/Database.svg">
        </object>
      </div>
      <div class="block_big">
        <h4>TOTAL SALES</h4>
        <p>257.752</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="block four">
      <div class="class">
        <object
          type="image/svg+xml"
          data="./assets/icons/Cube%20Variant%20With%20Shadow.svg">
          <img class="som"
               src="./assets/icons/Cube%20Variant%20With%20Shadow.svg">
        </object>
      </div>
      <div class="block_big">
        <h4>TOTAL SALES</h4>
        <p>257.752</p>
      </div>
    </div>
  </div>
</div>
