<div class="sideBar">
  <div class="side_header">
    <object
      type="image/svg+xml"
      data="./assets/icons/Shape.svg">
      <img class="som"
           src="./assets/icons/Shape.svg">
    </object>

    Smart
  </div>
  <div class="sideActive">
    <div class="lico">
      <div>
        <object
          type="image/svg+xml"
          data="./assets/icons/headsvg.svg">
          <img class="som"
               src="./assets/icons/headsvg.svg">

        </object>
        <span></span>
      </div>
      <div>
        <h4>Ononto Jolil</h4>
        <p>
          Jolilpur, Mars
        </p>
      </div>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="">
          <mat-icon aria-hidden="false">cottage</mat-icon> Dashbord
        </a></li>
        <li><a routerLink="none">
          <mat-icon aria-hidden="false"> textsms</mat-icon> Messages
        </a></li>
        <li><a routerLink="none">
          <mat-icon aria-hidden="false"> filter_alt</mat-icon> Ui Elemets
        </a></li>
        <li><a routerLink="chart">
          <mat-icon aria-hidden="false"> insert_chart</mat-icon> Charts
        </a></li>
        <li><a routerLink="none">
          <mat-icon aria-hidden="false"> insert_invitation</mat-icon> Caledar
        </a></li>
      </ul>
    </div>
    <hr>
    <div class="menu">
      <ul>
        <li><a routerLink="none">
          User
        </a></li>
        <li><a routerLink="none">
          Security
        </a></li>
        <li><a routerLink="none">
          Customers
        </a></li>

      </ul>
    </div>
  </div>
</div>
