<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card_header">
        <h4>
          Customer Ratings
        </h4>
        <div class="gix">
          2,45,456 Votes
          <button mat-button>
            <mat-icon>restart_alt</mat-icon>
          </button>
        </div>
      </div>
      <div class="card_body ">
        <div *ngFor="let user of users" class="el d-flex">
          <div class="zabalo_one">
            <mat-icon>
              {{user.emote}}
            </mat-icon>
          </div>
          <div class="zabalo_two">
            <h5>
              {{user.name}}
            </h5>
          </div>
          <div class="zabalo_big">
            <div class="progres">
              <mat-progress-bar mode="determinate" value="{{user.perssent}}"></mat-progress-bar>
            </div>
          </div>
          <div class="zabalo_fackOff">
            <span>
 {{user.perssent}} %
          </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
